$color-primary-0: #1E53CD;	// Main Primary color */
$color-primary-1: #688BDC;
$color-primary-2: #426ED3;
$color-primary-3: #0C3DAF;
$color-primary-4: #092E85;

$color-secondary-1-0: #FF760C;	// Main Secondary color (1) */
$color-secondary-1-1: #FFAA69;
$color-secondary-1-2: #FF903B;
$color-secondary-1-3: #FF6F00;
$color-secondary-1-4: #C65600;

$color-secondary-2-0: #0AC4B7;	// Main Secondary color (2) */
$color-secondary-2-1: #58D6CD;
$color-secondary-2-2: #2FCCC0;
$color-secondary-2-3: #00A196;
$color-secondary-2-4: #007A71;

$color-complement-0: #FFAE0C;	// Main Complement color */
$color-complement-1: #FFCD69;
$color-complement-2: #FFBE3B;
$color-complement-3: #FFAA00;
$color-complement-4: #C68400;